/.metadata
/RemoteSystemsTempFiles
/gradebook-workspace/**/*.iml
/gradebook-workspace/**/.ivy
/gradebook-workspace/**/.classpath
/gradebook-workspace/**/.project
/gradebook-workspace/**/.sass-cache
/gradebook-workspace/**/.settings
/gradebook-workspace/**/bin
/gradebook-workspace/**/build
/gradebook-workspace/**/build_gradle
/gradebook-workspace/**/node_modules
/gradebook-workspace/**/test-coverage
/gradebook-workspace/**/tmp
/gradebook-workspace/**/.web_bundle_build
/gradebook-workspace/.gradle
/gradebook-workspace/.idea
/gradebook-workspace/bundles
/gradebook-workspace/gradle-*.properties
/gradebook-workspace/plugins-sdk/**/classes
/gradebook-workspace/plugins-sdk/**/ivy.xml.MD5
/gradebook-workspace/plugins-sdk/**/liferay-hook.xml.processed
/gradebook-workspace/plugins-sdk/build.*.properties
/gradebook-workspace/plugins-sdk/dependencies/**/*.jar
/gradebook-workspace/plugins-sdk/dist
/gradebook-workspace/plugins-sdk/lib

/employee-manager-portlet/**/*.iml
/employee-manager-portlet/**/.ivy
/employee-manager-portlet/**/.classpath
/employee-manager-portlet/**/.project
/employee-manager-portlet/**/.sass-cache
/employee-manager-portlet/**/.settings
/employee-manager-portlet/**/bin
/employee-manager-portlet/**/build
/employee-manager-portlet/**/build_gradle
/employee-manager-portlet/**/node_modules
/employee-manager-portlet/**/test-coverage
/employee-manager-portlet/**/tmp
/employee-manager-portlet/**/.web_bundle_build
/employee-manager-portlet/.gradle
/employee-manager-portlet/.idea
/employee-manager-portlet/bundles
/employee-manager-portlet/gradle-*.properties
/employee-manager-portlet/plugins-sdk/**/classes
/employee-manager-portlet/plugins-sdk/**/ivy.xml.MD5
/employee-manager-portlet/plugins-sdk/**/liferay-hook.xml.processed
/employee-manager-portlet/plugins-sdk/build.*.properties
/employee-manager-portlet/plugins-sdk/dependencies/**/*.jar
/employee-manager-portlet/plugins-sdk/dist
/employee-manager-portlet/plugins-sdk/lib

/gradebook-workspace/**/*.iml
/gradebook-workspace/**/.ivy
/gradebook-workspace/**/.classpath
/gradebook-workspace/**/.project
/gradebook-workspace/**/.sass-cache
/gradebook-workspace/**/.settings
/gradebook-workspace/**/bin
/gradebook-workspace/**/build
/gradebook-workspace/**/build_gradle
/gradebook-workspace/**/node_modules
/gradebook-workspace/**/test-coverage
/gradebook-workspace/**/tmp
/gradebook-workspace/**/.web_bundle_build
/gradebook-workspace/.gradle
/gradebook-workspace/.idea
/gradebook-workspace/bundles
/gradebook-workspace/gradle-*.properties
/gradebook-workspace/plugins-sdk/**/classes
/gradebook-workspace/plugins-sdk/**/ivy.xml.MD5
/gradebook-workspace/plugins-sdk/**/liferay-hook.xml.processed
/gradebook-workspace/plugins-sdk/build.*.properties
/gradebook-workspace/plugins-sdk/dependencies/**/*.jar
/gradebook-workspace/plugins-sdk/dist
/gradebook-workspace/plugins-sdk/lib
test-results