/.metadata
/RemoteSystemsTempFiles
/training-workspace/**/*.iml
/training-workspace/**/.ivy
/training-workspace/**/.classpath
/training-workspace/**/.project
/training-workspace/**/.sass-cache
/training-workspace/**/.settings
/training-workspace/**/bin
/training-workspace/**/build
/training-workspace/**/build_gradle
/training-workspace/**/node_modules
/training-workspace/**/test-coverage
/training-workspace/**/tmp
/training-workspace/**/.web_bundle_build
/training-workspace/.gradle
/training-workspace/.idea
/training-workspace/bundles
/training-workspace/gradle-*.properties
/training-workspace/plugins-sdk/**/classes
/training-workspace/plugins-sdk/**/ivy.xml.MD5
/training-workspace/plugins-sdk/**/liferay-hook.xml.processed
/training-workspace/plugins-sdk/build.*.properties
/training-workspace/plugins-sdk/dependencies/**/*.jar
/training-workspace/plugins-sdk/dist
/training-workspace/plugins-sdk/lib

/employee-manager-portlet/**/*.iml
/employee-manager-portlet/**/.ivy
/employee-manager-portlet/**/.classpath
/employee-manager-portlet/**/.project
/employee-manager-portlet/**/.sass-cache
/employee-manager-portlet/**/.settings
/employee-manager-portlet/**/bin
/employee-manager-portlet/**/build
/employee-manager-portlet/**/build_gradle
/employee-manager-portlet/**/node_modules
/employee-manager-portlet/**/test-coverage
/employee-manager-portlet/**/tmp
/employee-manager-portlet/**/.web_bundle_build
/employee-manager-portlet/.gradle
/employee-manager-portlet/.idea
/employee-manager-portlet/bundles
/employee-manager-portlet/gradle-*.properties
/employee-manager-portlet/plugins-sdk/**/classes
/employee-manager-portlet/plugins-sdk/**/ivy.xml.MD5
/employee-manager-portlet/plugins-sdk/**/liferay-hook.xml.processed
/employee-manager-portlet/plugins-sdk/build.*.properties
/employee-manager-portlet/plugins-sdk/dependencies/**/*.jar
/employee-manager-portlet/plugins-sdk/dist
/employee-manager-portlet/plugins-sdk/lib

/training-workspace/**/*.iml
/training-workspace/**/.ivy
/training-workspace/**/.classpath
/training-workspace/**/.project
/training-workspace/**/.sass-cache
/training-workspace/**/.settings
/training-workspace/**/bin
/training-workspace/**/build
/training-workspace/**/build_gradle
/training-workspace/**/node_modules
/training-workspace/**/test-coverage
/training-workspace/**/tmp
/training-workspace/**/.web_bundle_build
/training-workspace/.gradle
/training-workspace/.idea
/training-workspace/bundles
/training-workspace/gradle-*.properties
/training-workspace/plugins-sdk/**/classes
/training-workspace/plugins-sdk/**/ivy.xml.MD5
/training-workspace/plugins-sdk/**/liferay-hook.xml.processed
/training-workspace/plugins-sdk/build.*.properties
/training-workspace/plugins-sdk/dependencies/**/*.jar
/training-workspace/plugins-sdk/dist
/training-workspace/plugins-sdk/lib
test-results